@model GatheringDay.Models.User
@{
    ViewBag.Title = "Login";
}

<div class="about-area   cover" style="       
        background-image: url('../../project image/42.jpg');
        background-repeat: no-repeat;
        background-size: cover;">
    <div class="container" style="height:70%">

        <div class="row" style="height:80%; margin-bottom:9%; margin-top:9%; margin-left: 4%; ; ">
            <div class="col-lg-7 row3" id="row2">

                <div class="about-text2  reserv" style=" padding-bottom:5%; padding-top:5%; background: rgba(37, 34, 42, 0.70); padding-right: 8%; ">
                    <h2 style="color:white; padding-left:93px; " class="logtext">LOG IN</h2>
                    @using (Html.BeginForm(actionName: "Login", controllerName: "Home", method: FormMethod.Post, htmlAttributes: new { @class = "loginfrm" }))
                    {
                <div class="form-group row">

                    <div class="col-sm-9" style="margin:3%; margin-top:1%;">
                        @Html.EditorFor(ww => ww.Email, additionalViewData: new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Email" } })
                        @Html.ValidationMessageFor(ww => ww.Email, "", htmlAttributes: new { @class = "text-warning errmsg" })
                    </div>
                    <div class="col-sm-9" style="margin:3%; margin-top:1%; margin-bottom:0%;">
                        @Html.EditorFor(ww => ww.Password, additionalViewData: new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Password" } })
                        @Html.ValidationMessageFor(ww => ww.Password, "", htmlAttributes: new { @class = "text-warning" })
                    </div>
                    <div class="col-sm-9" style="margin:3%; margin-top:0%; margin-bottom:-2%; ">
                        <label class="text-warning"> @Html.DisplayFor(w=>w.LoginErrorMsg) </label>
                        </div>




                        <div style="display:inline-block ; margin-top:-5%;">

                            <div class="col-sm-9 log" style="display:inline; margin-top:0%;">

                                <button type="submit" class="btn btn-outline-danger" style="background-color:white; color:orangered; font-size:18px; padding-left:5px; margin-left:57px; margin-top:8%;">Log In </button>
                            </div>
                            <div class="col-sm-9 sign" style="display:inline; margin-top:0%;">

                                <a href="/Home/signup">  <button type="button" class="btn btn-outline-danger  sign" style="background-color:white; color:orangered; margin-top:8%;font-size:18px; margin-left:20px;">Sign Up </button></a>
                            </div>
                        </div>

                    </div>
                    }
                    <!-- <a style="color:white;"> Go To Events</a>-->
                </div>
            </div>



        </div>

    </div>

</div>

